
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 156px;
  width: 100%;
  padding: 12.5px 5px;
  background: linear-gradient(180deg, $button-gradient-first 0%, $button-gradient-second 100%);
  box-shadow: 0 48.36207px 48.36207px 0 rgba(0, 0, 0, 0.09);
  border: none;
  border-radius: 5.5px;
  color: $white;
  text-align: center;
  font-size: 10px;
  line-height: 14px;

  span {
    flex-shrink: 0;
    margin-right: 8px;
  }

  &--large {
    max-width: 254px;
    padding: 23px 35px;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
  }

  &__icon {
    svg {
      width: 17px;
      height: 15px;
    }
  }
}