h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-family: 'Akrobat';
}

h1, .h1-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
  @include md-block {
    font-size: 55px;
  }
  @include lg-block {
    font-size: 75px;
  }
}

h2, .h2-title {
  font-size: 35px;
  font-weight: 600;
  line-height: 120%;
  @include lg-block {
    font-size: 54px;
  }
}

h3, .h3-title {
  font-size: 28px;
  font-weight: 600;
  line-height: 120%;
  @include xl-block {
    font-size: 33px;
  }
}

h4, .h4-title {
  font-size: 24px;
  line-height: 120%;
}

.title-before {
  position: relative;

  @include xl-block {
    &:before {
      content: '';
      position: absolute;
      top: 14px;
      left: -74px;
      display: block;
      width: 26px;
      height: 49px;
      -webkit-transform: skew(-20deg);
      -moz-transform: skew(-20deg);
      -o-transform: skew(-20deg);
      background: $second-color;
    }
  }
}

.title-margin {
  margin-bottom: 30px;
}