.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;

  &-close {
    position: absolute;
    right: 12px;
    top: 12px;
    cursor: pointer;
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

.modal-open {
  overflow: hidden;

  .modal {
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 16px;
  max-width: 690px;
  margin: 16px auto;

}

.modal-dialog-centered {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (16px * 2));

  &:before {
    display: block;
    height: calc(100vh - (16px * 2));
    content: "";
  }
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-clip: padding-box;
  outline: 0;
  height: 100%;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0px 16px 40px 0px rgba(14, 15, 25, 0.20);
  padding: 20px;
  @include md-block {
    padding: 40px;
  }
}

.form-modal {
  &__title {
    text-align: center;
  }
}

.form-modal-direction {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__city {
    font-size: 13px;
    line-height: 24px;

  }

  &__arrow {
    stroke: $second-color;
    max-width: 210px;
    height: 8px;
  }

  &__img {
    width: 24px;
    height: 24px;
    margin: 0 8px;
  }

  &__close {
    width: 16px;
    height: 16px;
  }
}

.form-modal-content {
  &__price {
    font-size: 13px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    margin-bottom: 8px;

    span {
      font-size: 16px;
      font-weight: 600
    }
  }

  &__descr {
    text-align: center;
    font-size: 11px;
    line-height: 130%;
    max-width: 230px;
    margin: 0 auto;

    span {
      font-size: 16px;
      font-weight: 600;
      line-height: 130%;;
      display: block;
    }
  }
}

.form-modal-main {
  max-width: 516px;
  margin: 0 auto;
  margin-top: 40px;
  label {
    margin: 0 0 16px;
    max-width: 100%;
    @include sm-block {
      margin: 0 8px 16px;
      max-width: calc(50% - 19.5px);
    }
  }
}

.form-politics {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__text {
    color: $grey2;
    font-size: 11px;
    line-height: 130%;
  }

  &__btn {
    max-width: 118px;
    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 12px 21px;
    margin-left: 16px;
  }
}