$main: #0E0F19;
$second-color: #4998DB;
$logo-descr: #A9A9A9;
$button-gradient-first: #54a4e8;
$button-gradient-second: #2974b4;
$white: #ffffff;
$black: #000000;
$grey: #D9D9D9;
$grey2: #A0A2B4;
$grey-30: rgba(217, 217, 217, 0.3);
$grey-20: rgba(217, 217, 217, 0.2);
$grey-light: #FAFAFA;
$grey-input: #F2F2F2;
$card-car-bg: #F0F0F0;
$card-car-price-title: rgba(14, 15, 25, 0.60);
$posibility-title: #FEFEFE;
$li-color-grey: #BEBEBE;
$table__button-bg: #8CE874;
$article__more: #4BCBDD;



$section-transportation-background: "../images/dist/geoposition_blurry.jpg";
$section-nav-vector: "../images/dist/icons/vektor.svg";
$section-nav-geoposition: "../images/dist/icons/geoposition.svg";
$section-calc-input: "../images/dist/icons/geoposition.svg";
$section-def-service: "../images/dist/geoposition_big.png";
$section-def-shevron: "../images/dist/icons/shevron.svg";
$section-how-work-shevron: "../images/dist/about-company/blue-shevron.svg";

//бэграунд картинки на разрешении выше

$section-delivery-map: "../images/dist/map.jpg";
$section-delivery-map2: "../images/dist/map@2x.jpg";

$section-fleet-truck: "../images/dist/truck.jpg";
$section-fleet-truck2: "../images/dist/truck@2x.jpg";

$section-wagon-container: "../images/dist/container.png";
$section-wagon-container2: "../images/dist/container@2x.png";

$section-company-truck: "../images/dist/about-company/about-truck.png";
$section-company-truck2: "../images/dist/about-company/about-truck@2x.png";

$section-service-map: "../images/dist/about-company/about-service.jpg";
$section-service-map2: "../images/dist/about-company/about-service@2x.jpg";

$section-combined-bg-truck: "../images/dist/combined/transportation-truck.png";
$section-combined-bg-truck2: "../images/dist/combined/transportation-truck@2x.png";

$section-modular-bg-openContainer: "../images/dist/combined/open-container.jpg";
$section-modular-bg-openContainer2: "../images/dist/combined/open-container@2x.jpg";

$section-road-bg: "../images/dist/combined/road-bg.png";
$section-road-bg2: "../images/dist/combined/road-bg@2x.png";

$section-cargo-box: "../images/dist/packaging/cargo-box.png";
$section-cargo-box2: "../images/dist/packaging/cargo-box@2x.png";

$section-price-calc-bg-frontContainer: "../images/dist/combined/front-container.png";
$section-price-calc-bg-frontContainer2: "../images/dist/combined/front-container@2x.png";

$section-direction-bg-truck: "../images/dist/direction/direction-bg-truck.png";
$section-direction-bg-truck2: "../images/dist/direction/direction-bg-truck@2x.png";

$section-transport-pipes: "../images/dist/pipes/pipes-truck.jpg";
$section-transport-pipes2: "../images/dist/pipes/pipes-truck@2x.jpg";

$main-form-bg: "../images/dist/main-form.png";
$main-form-bg2: "../images/dist/main-form@2x.png";